 .u-section-1 {
  background-image: url("images/corporate-businessman-giving-presentation-large-audience.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 788px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 864px;
  margin: 149px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 444px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 23px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 21px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 444px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  height: 381px;
  background-image: none;
  width: 372px;
  margin: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: -725px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 324px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -914px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -814px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 16px;
}