{% include 'Admin/admin-layout.html' %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}
</head>
<body>
    <div class="container-fluid">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>SAVE <b>RECORDS</b></h2></div>
                    
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>batchno</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>rank</th>
                        <th>station</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in results %}
                    <tbody>
                        <td>{{data["batchno"]}}</td>
                        <td>{{data["first_name"]}}</td>
                        <td>{{data["last_name"]}}</td>
                        <td>{{data["rank"]}} </td></td>
                        <td>{{data["station"]}} </td></td>
                        <!-- <td>{{data["active"]}} </td></td> -->
                        
                        <!-- <td align ="center"></td> -->
                        
                        
                        <td>
                            <a <br/>
                            <form action="/adminview" method="POST" enctype="multipart/form-data">
                            {% if data.active == True %}
                                
                                &#9989
                                
            
                                <a href="{{ url_for('admindashboard', id=data['id']) }}" class="text-success"><i class="fa fa-fw fa-eye"></i> View</a> 
                 
                 
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                  <h6 class="dropdown-header">
                    DELTAIL
                  </h6>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-primary">
                        <i class="fa fa-fw fa-eye"></i>
                      </div>
                    </div>
                    <div>
                      
</form>
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-success">
                        <i class="fas fa-donate text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">December 7, 2019</div>
                      $290.29 has been deposited into your account!
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-warning">
                        <i class="fas fa-exclamation-triangle text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">December 2, 2019</div>
                     
                    </div>
                  </a>
                  <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>
              </li>
  
                                {% else %}
                                       
                                &#128683|
                                <a href="{{ url_for('admindashboard', id=data['id']) }}" class="text-success"><i class="fa fa-fw fa-eye"></i> View</a> 

                    </td>
                    {% endif %}
                </tr>
                {% endfor %}		
                      
                </tbody>
            </table>
        </div>
    </div>     
   
  <!-- Bootstrap core JavaScript -->
  <script src="../../static/vendor/jquery/jquery.min.js"></script>
  <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <link href="../../static/dist/css/bootstrap.min.css" rel="stylesheet">
  

  <!-- Core plugin JavaScript-->
  <script src="../../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../../static/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../../static/js/demo/chart-area-demo.js"></script>
  <script src="../../static/js/demo/chart-pie-demo.js"></script>


</body>
</html>
