<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> 

    <!-- Our CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    
<!--date-->
<div id="current-date">
   {% block date %}
   <title>CMS {{current_date}}</title>
   <script>
      function updateDate() {
          var currentDate = new Date();
          var formattedDate = currentDate.toLocaleDateString() + " " + currentDate.toLocaleTimeString();
          document.getElementById("current-date").innerHTML = formattedDate;
      }
      setInterval(updateDate, 60000);
  </script>
   {% endblock %}
</div>
  </head>
  <body>

  	{% include 'navbar.html' %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{category }}">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
  	<br/>
  	<div class="container">
		{% block content %}
    
		{% endblock %}
	</div>
  <link href="{{ url_for('static', filename='css/load/load.css') }}" rel="stylesheet">

<script src="{{ url_for('static', filename='js/load/load.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
   
  </body>
</html>






