{% extends 'base.html' %}

{% block content %}
{% import "_macros.html" as macros %}

	<div class="card rounded border border-5">
		<div >
   
  </div>
  <div class="card-body">
   
    <p class="card-text">

<div class="container">
	<div class="row">
		<div class="col-8">
			{%filter upper%}
		<strong>BATCH NO:</strong>
	{{ name_to_update.batchno }}<br/>

    <strong>FIRST NAME:</strong>
	{{ name_to_update.first_name }}<br/>

	<strong>LAST NAME:</strong>
	{{ name_to_update.last_name }}<br/>

	<strong>RANK:</strong>
	{{ name_to_update.rank }}<br/>

	<strong>DATE OF BIRTH:</strong>
	{{ name_to_update.dob }}<br/>

	<strong>GENDER:</strong>
	{{ name_to_update.gender }}<br/>
	
	<strong>PHONE NUMBER:</strong>
	{{ name_to_update.Phone_No }}<br/>

	<strong>PERSONAL EMAIL ADDRESS:</strong>
	{{ name_to_update.Personal_email }}<br/>

	<strong>SUPERVISOR:</strong>
	{{ name_to_update.Supervisor_id }}<br/>

	<strong>STATION:</strong>
	{{ name_to_update.station_id }}<br/>
	<strong>ACTIVE:</strong>
	{% if name_to_update.active == true%}
	&#9989
	{%else%}
	&#128683
	{% endif %}<br/>
	<strong>AGE</strong>
	
           
	{{age}}
	
	<br/>
	
	<strong>Date Joined:</strong>
	{{ name_to_update.date_added }}<br/>

    </p>
    {% endfilter%}
	</div>
	<div class="col-4">
		{% if name_to_update.profile_pic %}
		{% if name_to_update.media_type == 'image' %}

		<img src="data:{{ name_to_update.media_type }}/{{ name_to_update.profile_pic.split('.')[-1] }};base64,{{ name_to_update.media_data|custom_b64encode }}" class="bd-placeholder-img" width="100%" height="250" align="right">
		
		{% else %}

		<img src="{{ url_for('static', filename='images/default_profile_pic.png')}}" width="200" align="right">
		{% endif %}

		{% endif %}
	
	</div>
	</div>
	</div>
  </div>
</div>
<br/>
<table class="table table-bordered m-3 p-3 rounded border border-5">
	<thead>
		<tr class="table bg-primary">
<th>CASE ID</th>
<th>FIRST NAME</th>
<th>LAST NAME</th>
<th>CASE ID</th>
<th>CRIME TYPE</th>
<th>GENDER</th>
<th>STATION</th>
<th>Actions</th>

</tr>
</thead>
<tbody>
{% for data in crime %}
<tbody>
<td>{{data["case_id"]}}</td>
<td>{{data["first_name"]}}</td>
<td>{{data["last_name"]}}</td>
<td>{{data["case_id"]}} </td>
<td>{{data["crime_type"]}} </td>
<td>{{data["gender"]}} </td>
<td>{{data["station_id"]}} </td>
<td>
	<a type="button" class="btn btn-outline-success btn-sm" href="{{ url_for('details_crime', id=data['id']) }}" class="text-success"><i class="fa fa-fw fa-eye"></i> View</a> |
	<a type="button" class="btn btn-outline-success btn-sm" href="{{ url_for('edit_crime', id=data['id']) }}" class="text-primary"><i class="fa fa-fw fa-edit"></i> Edit</a> 	
	

</td>
</tr>
{% endfor %}		
</tbody>
</table>



</div>

	
	


</div>


{% endblock %}