{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}



	<h2>Dashboard</h2>
	<br/>

	<div class="card">
  <div class="card-header">
   
  </div>
  <div class="card-body">
   
    <p class="card-text">

<div class="container">
	<div class="row">
		<div class="col-8">
			<br/>

    <strong>FIRST NAME:</strong>
	{{ name.first_name }}<br/>

	<strong>LAST NAME:</strong>
	{{name.last_name }}<br/>

	<strong>dob:</strong>
	{{name.dob }}<br/>

	<strong>gender:</strong>
	{{name.gender }}<br/>
	<strong>AGE</strong>
	
           
	{{age}}
	<br/>

	<strong>Profile Pic:</strong>
	{{name.profile_pic }}<br/>

	<strong>Profile Pic2:</strong>
	{{name.profile_pic2 }}<br/>

	<strong>Date Joined:</strong>
	{{name.date_added }}<br/>


	

    	
    </p>
    <!-- <a href="{{ url_for('logout')}}" class="btn btn-secondary btn-sm">Logout</a> -->

    
    
	</div>
	<div class="col-4">
		{% if name.profile_pic %}
		
 
		<img src="{{ url_for('static', filename='images/' + name.profile_pic)}}" width="200" align="right">
		

		<img src="{{ url_for('static', filename='images/' + name.profile_pic2)}}" width="200" align="right"> 

		<img src="{{ url_for('static', filename='images/fingerprint/' + name.fingerprint)}}" width="200" align="right"> 
		{% else %}
		
		
		<img src="{{ url_for('static', filename='images/default_profile_pic.png')}}" width="200" align="right">
		{% endif %}

		
	
	</div>
	</div>
	</div>


  </div>
</div>
	

	
<br/>


<div class="card">
  <div class="card-header">
   
		


	</form>



</div>

	
	


</div>


{% endblock %}