{% extends 'base.html' %}

{% block content %}

<div class="card rounded border border-5">
	<div >

</div>
<div class="card-body">

<p class="card-text">

<div class="container">
<div class="row">
	<div class="col-8">
		{%filter upper%}


<strong>FIRST NAME:</strong>
{{ name.first_name }}<br/>

<strong>LAST NAME:</strong>
{{ name.last_name }}<br/>



<strong>DATE OF BIRTH:</strong>
{{ name.dob }}<br/>

<strong>GENDER:</strong>
{{ name.gender }}<br/>

<strong>MOTHER NAME:</strong>
{{ name.mother_name }}<br/>

<strong>AGE:</strong>
{{ age }}<br/>

<strong>PHONE NUMBER:</strong>
{{ name.phone_No }}<br/>

<strong>STATION:</strong>
{{ name.station_id }}<br/>
<strong>CASE_ID:</strong>
{{name.case_id}}


<br/>

<strong>CAUGHT BY:</strong>
{{ name.caught_by_id }}<br/>

<strong>Nationality:</strong>
{{ name.nationality }}<br/>

<strong>ADDRESS:</strong>
{{ name.address }}<br/>

<strong>WANTED:</strong>
{{ name.wanted }}<br/>
<strong>DATE ADDED:</strong>
{{ name.date_added }}<br/>
</p>
{% endfilter%}
</div>
<div class="col-4">
	{%  if name.profile_pic %}

		<img src="{{ url_for('static', filename='images/' + name.profile_pic)}}" class="bd-placeholder-img" width="100%" height="250" align="right">
		<img src="{{ url_for('static', filename='images/fingerprint/' + name.fingerprint)}}" width="200" align="left"> 
		<img src="{{ url_for('static', filename='images/fingerprint/' + name.fingerprint)}}" width="190" align="right" > 


	{% else %}

	<img src="{{ url_for('static', filename='images/default_profile_pic.png')}}" width="200" align="right">

	{% endif %}

</div>
</div>
</div>
</div>
</div>
{% endblock %}