{% extends 'base.html' %}

{% block content %}


	<div class="card" >
  <div class="m-3 p-3 shadow alert alert-dark" class="" class="card-header">
	<p class="h3">PROFILE</p>
  </div>
  <div class="card-body">
   
    <p class="card-text">

<div class="container">
	<div class="row">
		<div class="col-8">
{% filter upper %}
			<strong>BATCH_NUMBER:</strong>
			{{ current_user.batchno }}<br/>
			
			<strong>FIRST_NAME:</strong>
			{{ current_user.first_name }}<br/>
			
			<strong>LAST_NAME:</strong>
			{{ current_user.last_name }}<br/>
			
			<strong>RANK:</strong>
			{{ current_user.rank }}<br/>
			
			<strong>STATION:</strong>
			{{ current_user.station_id }}<br/>
			
			<strong>SUPERVISOR:</strong>
			{{ current_user.Supervisor_id }}<br/>
			
			<strong>PERSONAL_EMAIL:</strong>
			{{ current_user.Personal_email }}<br/>
			
			<strong>Date Joined:</strong>
			{{ current_user.date_added }}<br/>


	
{% endfilter %}
    	
    </p>
    <a href="{{ url_for('logout')}}" id="myButton" class="btn btn-secondary btn-sm">Logout</a>
<div id="spinner" class="hidden"></div>
    <br/>

    
	</div>
	<div class="col-4">
		{% if current_user.profile_pic %}

	{#	<h3>{{ current_user.profile_pic }}</h3>#}
		{% if current_user.media_type == 'image' %}
			<img src="data:{{ current_user.media_type }}/{{ current_user.profile_pic.split('.')[-1] }};base64,{{ current_user.media_data|custom_b64encode }}" class="bd-placeholder-img" width="100%" height="200" align="right">
		{% elif current_user.media_type == 'audio' %}
			<audio controls>
				<source src="data:{{ current_user.media_type }}/{{ current_user.profile_pic.split('.')[-1] }};base64,{{ current_user.media_data|custom_b64encode }}">
				Your browser does not support the audio element.
			</audio>
		{% elif current_user.media_type == 'video' %}
			<video width="320" height="240" controls>
				<source src="data:{{ current_user.media_type }}/{{ current_user.profile_pic.split('.')[-1] }};base64,{{ current_user.media_data|custom_b64encode }}" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		{% endif %}
	
		{% endif %}
	
	</div>
	</div>
	</div>


  </div>
</div>
	

	
<br/>

<div class="card">
  <div class="m-3 p-3 shadow alert alert-dark" class="" class="card-header">
	<p  class="h4">CHANGE PASSWORD</p> 
  </div>
  <div class="card-body">

  	<form  method="POST" enctype="multipart/form-data">
		<form  method="POST" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			
			<br/>
	
			{{ form.old_password.label(class="form-label") }}
	
			{{ form.old_password(class="form-control") }}
			
	
			<br/>
			{{ form.confirm_password.label(class="form-label") }}
	
			{{ form.confirm_password(class="form-control") }}
			<br/>
	
			{{ form.new_password.label(class="form-label") }}
	
			{{ form.new_password(class="form-control") }}
			
			<br/>
			
			
			{{ form.submit(class="btn btn-secondary btn-sm") }}
			

		


	</form>



</div>

<br/>

	


</div>


{% endblock %}