{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}



<h2>Dashboard</h2>
<br/>

<div class="card">
<div class="card-header">
{{ current_user.name }}
</div>
<div class="card-body">

<p class="card-text">

<div class="container">
<div class="row">
	<div class="col-8">

<strong>BATCH_NUMBER:</strong>
{{ current_user.batchno }}<br/>

<strong>FIRST_NAME:</strong>
{{ current_user.first_name }}<br/>

<strong>LAST_NAME:</strong>
{{ current_user.last_name }}<br/>

<strong>RANK:</strong>
{{ current_user.rank }}<br/>

<strong>STATION:</strong>
{{ current_user.station_id }}<br/>

<strong>SUPERVISOR:</strong>
{{ current_user.Supervisor_id }}<br/>

<strong>PERSONAL_EMAIL:</strong>
{{ current_user.Personal_email }}<br/>

<strong>Date Joined:</strong>
{{ current_user.date_added }}<br/>




	
</p>
<a href="{{ url_for('logout')}}" class="btn btn-secondary btn-sm">Logout</a>

<a href="{{ url_for('update', id=current_user.id)}}" class="btn btn-secondary btn-sm">Update Profile</a>

<a href="{{ url_for('delete', id=current_user.id)}}" class="btn btn-danger btn-sm">Delete</a>
<br/><br/>


</div>
<div class="col-4">
	{% if current_user.profile_pic %}

	<img src="{{ url_for('static', filename='images/' + current_user.profile_pic)}}" width="200" align="right">
	
	{% else %}

	<img src="{{ url_for('static', filename='images/default_photo.jpg')}}" width="200" align="right">

	{% endif %}

</div>
</div>
</div>
		

	






</div>





</div>


	
<br/>

<div class="card">
  <div class="card-header">
    Update Profile
  </div>
  <div class="card-body">

  	<form  method="POST" enctype="multipart/form-data">
		{{ form.hidden_tag() }}



		
		
		
		<br/>

		

		{{ form.old_password.label(class="form-label") }}

		{{ form.old_password(class="form-control") }}
		

		<br/>
		{{ form.confirm_password.label(class="form-label") }}

		{{ form.confirm_password(class="form-control") }}
		<br/>

		{{ form.new_password.label(class="form-label") }}

		{{ form.new_password(class="form-control") }}
		
		<br/>
		

		<br/>
		
		{{ form.submit(class="btn btn-secondary btn-sm") }}
			

		


	</form>


</div>

</div>

{% endblock %}