<!DOCTYPE html>
<html>
<head>
    <title>Face Matching</title>
</head>
<body>
    <h1>Face Matching</h1>
    <form action="{{ url_for('face_match') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <button type="submit">Match</button>
    </form>



        {% if best_match %}
            <h3>Best Match</h3>
            <p>Filename: {{ best_match }}</p>
            <p>Distance: {{ score }}</p>
            <img src="{{ url_for('static', filename='images/' + best_match.last_name) }}" alt="Best Match">
        {% else %}
            <p>No match found.</p>
        {% endif %}
   
</body>
</html>