{% extends 'base.html' %}

{% block content %}

<div class="card">
  <div class="card-header">
    <p class="h2">Fingerprint image</p>
    
  </div>
  <div class="card-body">

<h2>Received messages:</h2>
{% for message in received_messages %}
  <p>From: {{ message.sender.batchno }}
    <!-- <img src="{{ url_for('static', filename='images/' + message.sender.profile_pic)}}" width="200" > -->
    
		<br>{{ message.text }}</p>
{% endfor %}

<h2>Sent messages:</h2>
{% for message in sent_messages %}
  <p>To: {{ message.recipient.batchno }}
    <!-- <img src="{{ url_for('static', filename='images/' + message.recipient.profile_pic)}}" width="200" > -->
    <br>{{ message.text }}</p>
{% endfor %}
</div>

</div>

{% endblock %}