{% extends 'base.html' %}

{% block content %}

<div class="card">
  <div class="card-header">
    <p class="h2">SEND MESSAGE</p>
    
  </div>
  <div class="card-body">
<form method="post" action="/send_message">
  {{ form.csrf_token }}
  <br/>
  {{ form.recipient_id.label (class="form-label")}} {{ form.recipient_id (class="form-select form-select-sm")}}
  {% for error in form.recipient_id.errors %}
    <span style="color: red;">[{{ error }}]
  {% endfor %}
  <br/>
  <br>
  {{ form.text.label }} {{ form.text  (class="form-control")}}
  {% for error in form.text.errors %}
    <span style="color: red;">[{{ error }}]</span>
  {% endfor %}
  <br>
  <input class="btn btn-primary" type="submit" value="Send message">
</form>

</div>

</div>

{% endblock %}