{% extends 'base.html' %}

{% block content %}

<div class="card">
	<div class="m-3 p-3 border-start h1 border-danger border-5 shadow"><b>{{name.station_name|upper}}</b></div>
	<div class="row g-0">
	  <div class="col-md-4">
		<img src="data:image/jpeg;base64,{{ name.data|custom_b64encode }}" class="bd-placeholder-img" width="100%" height="250"  role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">

	  </div>
	  <div class="col-md-8">
		<div class="card-body">
		  <h2 class="lead"><strong>STATION NAME: {{name.station_name|upper}}</strong></h2>
		  <h5 class="lead"><strong>ABOUT: {{name.about}}</strong></h5>
		  <h5 class="lead"><strong>LATITUDE: {{name.latitude}}</strong></h5>
		  <h5 class="lead"><strong>LONGITUDE: {{name.longitude}}</strong></h5>
		</div>
	  </div>
	</div>
  </div>

 {# <div class="image-item">
	<img src="data:image/jpeg;base64,{{ name.data|custom_b64encode }}" alt="{{ name.name }}" width="300">
	<p>{{ name.name }}</p>
</div>#}

<table class="table table-bordered m-3 p-3 rounded border border-5 ">
	<thead>
		<tr class="table bg-primary">
<th>BATCH NO</th>
<th>FIRST NAME</th>
<th>LAST NAME</th>
<th>GENDER</th>
<th>STATION</th>
<th>DATE OF BIRTH</th>
<th>RANK</th>
<th>ACTIONS</th>
</tr>
</thead>
<tbody>
{% for data in officer %}
<tbody>
<td>{{data["batchno"]|upper}}</td>
<td>{{data["first_name"]|upper}} </td>
<td>{{data["last_name"]|upper}}</td>
<td>{{data["gender"]|upper}}</td>
<td>{{data["station_id"]|upper}}</td>
<td>{{data["dob"]|upper}}</td>
<td>{{data["rank"]|upper}}</td>
 
  
<td>
	<a a type="button" class="btn btn-outline-success btn-sm" href="{{ url_for('dashboard', caught_by=data['id']) }}" class="text-primary"><i class="fa fa-fw fa-edit"></i> VIEW</a> |
	<a a type="button" class="btn btn-outline-success btn-sm" href="{{ url_for('update', id=data['id']) }}" class="text-primary"><i class="fa fa-fw fa-edit"></i> Edit</a> 
</td>
</tr>
{% endfor %}		
</tbody>
</table>
{% endblock %}