{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<!-- <a href="/add_data">ADD</a> -->

</head>
<body>
    <div class="container-fluid" add style="overflow-y:scroll" >
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>SAVE <b>RECORDS</b></h2></div>
                    
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
					<tr>
			<th>batchno</th>
			<th>first_name</th>
			<th>last_name</th>
			<th>gender</th>
			<th>station</th>
			<th>dob</th>
			<th>rank</th>
			<!-- <th>password_hash</th> -->
		</tr>
	</thead>
	<tbody>
		{% for data in police %}
		<tbody>
	<td>{{data["batchno"]}}</td>
 <td>{{data["first_name"]}}</td>
 <td>{{data["last_name"]}}</td>
 <td>{{data["gender"]}}</td>
 <td>{{data["station"]}}</td>
 <td>{{data["dob"]}}</td>
 <td>{{data["rank"]}}</td>
 <!-- <td>{{data["password_hash"]}}</td> -->
			
			  <!-- <td class align ="center"></td>  -->
			
			<td>
				<a href="{{ url_for('dashboard', id=data['id']) }}" class="text-primary"><i class="fa fa-fw fa-edit"></i> VIEW</a> |
				<a href="{{ url_for('update', id=data['id']) }}" class="text-primary"><i class="fa fa-fw fa-edit"></i> Edit</a> |
				 <!-- <a href="{{ url_for('dashboard', id=data['id']) }}" class="text-danger"><i class="fa fa-fw fa-trash"></i> UPDATE</a> -->
                <a href="{{ url_for('delete', id=data['id']) }}" class="text-danger"><i class="fa fa-fw fa-trash"></i> Delete</a>
		</td>
	</tr>
	{% endfor %}		
</tbody>
</table>
</div>
</div>     
</body>
</html>
{% endblock %}
