{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>	
</head>
<body>
	
    <div class="container-fluid">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
					<div class="card-header m-3 p-3 rounded-pill border border-5 m-1 p-1 bg-primary">
                    <div class="col-sm-8"><h2>POLICE STATION</h2></div>
                    
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
					<tr class="table bg-primary">
			<th>id</th>
			<th>LOCATION</th>
			<th>ACTION</th>
			
		</tr>
	</thead>
	<tbody >
		{% for data in station %}
		<tbody>
			<td>{{data["id"]}}</td>
			<td>{{data["station_name"]}}</td>
			
			<!-- <td align ="center"></td> -->
			
			<td>
				<a type="button" class="btn btn-outline-success btn-sm" href="{{ url_for('details_station', station=data['id']) }}" class="text-success"><i class="fa fa-fw fa-eye"></i> View</a>
		</td>
	</tr>
	{% endfor %}		
</tbody>
</table>
</div>
</div>     
</body>
</html>
{% if current_user.rank == 'Inspector General of Police' %}
<form action="/station" method="post" enctype="multipart/form-data">
	{{ form.hidden_tag() }}
    

    <br/>    
	<div class="row mt-2">

		{#crime_type#}
		<div class="col-sm-6">
			{{ form.longitude.label(class="form-label") }}

			{{ form.longitude(
				class="form-control",
				placeholder="longitude"
			) }}
		</div>

		<div class="col-sm-6">
			{{ form.latitude.label(class="form-label") }}

			{{ form.latitude(
				class="form-control",
				placeholder="latitude"
			) }}
		</div>

	</div>
	<div class="row mt-2">

		{#crime_type#}
		<div class="col-sm-6">
			<label>UPLOAD STATION PHOTO</label>
			<input type="file"class="form-control" name="image">
    
		</div>

		<div class="col-sm-6">
			{{ form.about.label(class="form-label") }}

			{{ form.about(
				class="form-control",
				placeholder="about"
			) }}
		</div>

	</div>
	<div class="row mt-2">


		<div class="col-sm-6">
			{{ form.station_name.label(class="form-label") }}

			{{ form.station_name(
				class="form-control",
				placeholder="station_name"
			) }}
		</div>

	</div>
	<div class="row mt-5">
				
				
		
			{{ form.submit(class="btn btn-lg btn-primary") }}

	</div>

</form>
{%endif%}
{% endblock %}
