{% extends 'base.html' %}

{% block content %}

<br/>

<div class="card">
<div class="card-header">
{{ current_user.name }}
</div>
<div class="card-body">

<p class="card-text">

<div class="container">
<div class="row">
	<div class="col-8">

<strong>BATCH_NUMBER:</strong>
{{name_to_update.batchno }}<br/>

<strong>FIRST NAME:</strong>
{{ name_to_update.first_name }}<br/>

<strong>LAST NAME:</strong>
{{ name_to_update.last_name }}<br/>

<strong>rank:</strong>
{{ name_to_update.rank }}<br/>

<strong>dob:</strong>
{{ name_to_update.dob }}<br/>

<strong>gender:</strong>
{{ name_to_update.gender }}<br/>

<strong>AGE</strong>

	   
{{age}}

<br/>
<strong>Profile Pic:</strong>
{{ name_to_update.profile_pic }}<br/>

<strong>Date Joined:</strong>
{{ name_to_update.date_added }}<br/>

<strong>ACTIVE:</strong>
	{% if name_to_update.active == true%}
	&#9989
	{%else%}
	&#128683
	{% endif %}<br/>
	
</p>
<!-- <a href="{{ url_for('logout')}}" class="btn btn-secondary btn-sm">Logout</a> -->


<br/><br/>


</div>
<div class="col-4">
	{% if name_to_update.media_type == 'image' %}

	<img src="data:{{ name_to_update.media_type }}/{{ name_to_update.profile_pic.split('.')[-1] }};base64,{{ name_to_update.media_data|custom_b64encode }}" class="bd-placeholder-img" width="100%" height="200" align="right">
	
	{% else %}

	<img src="{{ url_for('static', filename='images/default_profile_pic.png')}}" width="200" align="right">

	{% endif %}

</div>
</div>
</div>


</div>
</div>
 

	<h1>Update User...</h1>
	<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
	<form action="/update/{{ name_to_update.id }}" method="POST" enctype="multipart/form-data">
		{{ form.hidden_tag() }}

		{{ form.station.label(class="form-label") }}

		{{ form.station(class="form-control", value=name_to_update.station) }}
		<br/>
		{{ form.rank.label(class="form-label") }}

		{{ form.rank(class="form-control", value=name_to_update.rank) }}
		
		<br/>
		{{ form.password_hash.label(class="form-label") }}

		{{ form.password_hash(class="form-control", value=name_to_update.password_hash) }}
		<br/>
		{{ form.password_hash2.label(class="form-label") }}

		{{ form.password_hash2(class="form-control", value=name_to_update.password_hash) }}
		<br/>
		
		{{ form.submit(class="btn btn-secondary") }}

		<a href="{{ url_for('delete', id=id)}}" class="btn btn-danger">Delete</a>


	</form>
</div>
<br/><br/><br/>



{% endblock %}